<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Node.js,MongoDB,Amazon Web Services ,Twitter-Bootstrap, Qt Framework developer. Student at Manipal Institute of Technology">
    <meta name="author" content="Rajat Gupta">
    <meta name="google-site-verification" content="3vBjIK9he1S2wcGE_5884cUTCefyADlVeJPXBfI_ZFk" />
     <meta property="og:title" content="About Rajat Gupta" />
    <meta property="og:description" content="Node.js,MongoDB,Amazon Web Services , Twitter-Bootstrap, Qt Framework" />
<meta property="og:url" content="http://www.rajatgupta.info/about" />
<meta property="og:image" content="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/1497649_713200812025896_1393971923_n.jpg" />
   <link rel="shortcut icon" type="image/png"  href="http://www.artbabble.org/sites/default/files/uploads/logos/RG%20icon%20for%20app.png">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lemon">

    <!-- Bootstrap core CSS -->
  <title><%=title%></title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
      <style> 
    .widget
{
   
  
    float: left;
}
.content {
float: left;
margin-left: 80px;
width: 900px;
}
</style>
  </head>

  <body style="background-image: url('/images/lol.jpg');opacity: 0.9;background-attachment:fixed;">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Collegesym</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
             <li><a href="/projects">Projects</a></li>
             <li><a href="/videos">Videos</a></li>
                        <li class="active"><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



    <div class="container" style="color:white;font-size:17px;font-family: 'Lemon', serif;">
		<div class="widget"><object width="160" height="405"><param name="movie" value="https://images.elance.com/media/flash/widget/profile/profile-widget-160.swf?userId=5796297&catId=&defaultTab=2&rid=3MBMM"></param><param name="allowFullScreen" value="false"></param><param name="allowscriptaccess" value="always"></param><embed src="https://images.elance.com/media/flash/widget/profile/profile-widget-160.swf?userId=5796297&catId=&defaultTab=2&rid=3MBMM" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="160" height="405"></embed></object>
</div>
		<div class="content">
		   <p style="color:white;">
		  	<h2 >Node.js,MongoDB,Amazon Web Services , Twitter-Bootstrap, Qt Framework</h2>
					Myself <strong>Rajat Gupta</strong>, a Computer Science Engineering student at Manipal Institute of Technology,
					Manipal, Karnataka, India. I am an active member of LUG Manipal, where we share our knowledge and help each other
					to improve our programming skills.Started with Qt Framework , loved it ! , tried hands on Node.js and now carrying
					on to develop web apps.I also love to play Guitar and Sing ( Hindi  :) ). All my videos can be checked out 
					 <a href="http://www.youtube.com/rajatmusic"> here .</a>
					 Looking forward to learn and get involved in some great open source community .
					  <img alt=":)" src="http://s0.wp.com/wp-includes/images/smilies/icon_smile.gif?m=1129645325g" />		   
		                  
     </p>
    </div>
     <div class="starter-template">
        <h1 style="color:white;">Blog About My Projects</h1>
        <p class="lead" style="color:white;font-size:25px;" ><a href ="http://www.github.com/rajatgupta431">GITHUB</a><br>Happy to learn new technologies as and when required !!!</p>
      </div></div>

		   </div> <!-- /.container -->
		   
		   <div style ="position: fixed;left: 0;bottom: 0;margin-left :9em">
			  <b> <p style="color:white;">Rajat Gupta</p><p style="color:white;">+919620846900</p><p style="color:white;">rajatgupta431@gmail.com</p></b>
		   </div>

<script type="text/javascript" src="http://www.iamahuman.org/js/embed.js"></script><div id="iamahuman-div-4e544c2fa573a8573379f3b8c42cee92"></div><script type="text/javascript">iamahuman.init("4e544c2fa573a8573379f3b8c42cee92");</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
